

@{ ViewData["Title"] = "Main | WADFC"; }

<div class="indexPageCenter">
    <h1> Welcome to WADFC </h1>
    <p> Check out WADFC fights -  Events from 2020 / 2021 !!</p>
</div>

@section MyScripts {
    <script src="~/js/hideSearch.js"></script>
    <script src="~/js/fixFooter.js"></script>
}